--find-links https://download.pytorch.org/whl/torch_stable.html
fastai>=2.2
flake8
fvcore
git+https://github.com/google/flax.git
isort
jax>=0.2.6
jaxlib
mypy
pre-commit
pytest
torch==1.9.0+cpu
yapf==0.30.0
